.table-active_grid > tbody > tr.selected {
    background: #d9edf7;
}

.table-active_grid.table-striped > tbody > tr.selected:nth-child(2n+1) > td {
    background: inherit;
}

.table-active_grid > thead > tr > th > input.row-select {
    height: auto;
    padding: 0;
    margin: 0;
}

.table-active_grid > tbody > tr > td > .form-group {
    margin: 0;
}

.table-active_grid > tbody > tr > td > .form-group > .help-block {
    display: none;
    margin-bottom: 0;
}

.table-active_grid > tbody > tr > td > .form-group.has-error > .help-block {
    display: block;
}

.table-active_grid > tbody > tr > td input.row-select {
    margin: 0;
}